*{
    margin: 0;
    padding: 0;
}
.wrapper{
    margin-top: 100px;
}
input{
    display: block;
    width: 100%;
    line-height: 50px;
    font-size: 32px;
    text-align: center;
    font-weight: 600;
    color: #3ECEB6;
    border: none;
    outline: none;
}